[GTK Module]
Name=canberra-ctk-module
Description=Event Sound Module
X-GTK-Module-Name=canberra-ctk-module
X-GTK-Module-Enabled-Schema=org.gnome.desktop.sound
X-GTK-Module-Enabled-Key=event-sounds
