[CTK Module]
Name=kanberra-ctk-module
Description=Event Sound Module
X-CTK-Module-Name=kanberra-ctk-module
X-CTK-Module-Enabled-Schema=org.gnome.desktop.sound
X-CTK-Module-Enabled-Key=event-sounds
